html{
    height: 100%;
}

body {
    background-color: #f7f7f7;
    height: 100%;
}

*:focus { outline: none !important; }

ul li:hover{
    cursor: pointer;
}

.shadowed{
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

.pageFooter{
    background-color: #f8f8f8;
    color: #444;
    left: 0;
    right: 0;
    position: fixed; /* relative */
    bottom: 0;
    font-family: Consolas;
    padding-top: 6px;
    height: 30px;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

.dis{
    cursor: text !important;
}

/* AngularGrid custom styles */
.ag-header-cell{
    background-color: #fff !important;
}

.ag-header-cell:hover{
    background-color: #EAEFF4 !important;
}

.ag-header-cell-label{
    text-overflow: clip !important;
}

.ag-fresh .ag-cell-no-focus{
    border-right: 1px solid #dedede !important;
    border-top: 1px solid transparent !important; 
    border-left: 1px solid transparent !important; 
    border-bottom: 1px solid transparent !important; 
}

.ag-fresh .ag-cell-focus{
    outline: 0;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.ag-fresh .ag-filter-header-container{
    border-bottom: none !important;
    background-color: #EAEFF4 !important;
}

.ag-filter-list-container{
    background-color: #fff;
}

.ag-filter-value{
    font-weight: normal;
}

label{
    font-weight: normal;
}

.ag-fresh .ag-filter{
    border: 1px solid #bebebe !important;
}

.ag-root{
    border: 1px solid #bebebe !important;
}

.ag-loading-center{
    background-color: #fdfdfd !important;
    border-radius: 0 !important;
    border: none !important;
}

.ag-fresh .ag-header-cell-menu-button{
    border-radius: 0 !important;
    margin-right: 0 !important;
}

.ag-fresh .ag-header-cell-menu-button:hover{
    border: 1px solid #bebebe !important;
    cursor: pointer;
}

.ag-filter{
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75) !important;
}

.ag-fresh .ag-header-cell{
    border-right: 1px solid #bebebe !important;
    border-bottom: 1px solid #bebebe !important;
}

.ag-fresh .ag-header-cell-label{
    padding: 1px 2px 4px 2px !important;
}

.ag-filter-filter{
    outline: 0;
}
/* --- */